# Sample gitconfig
#
# You probably want to change the [user] section here since you are not me.

[hub]
	protocol = ssh
[user]
	name = Thom Wiggers
	email = thom@thomwiggers.nl
	signingkey = 4871E82F
[alias]
        br = branch
        ci = commit
        co = checkout
        df = diff
        g = grep -I
        pb = publish-branch
        pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
        smp = submodule -q foreach git pull -q origin master
        rb = rbranch
        rc = rank-contributers
        rv = review
        sm = show-merges
        st = status   
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributers = !$ZSH/bin/git-rank-contributers
        count   = !git shortlog -sn
        tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
        diff = auto
        status = auto
        branch = auto
        ui = auto
[color "branch"]
		current = yellow reverse
		local = yellow
		remote = green
[color "diff"]
		meta = yellow bold
		frag = magenta bold
		old = red bold
		new = green bold
[color "status"]
		added = yellow
		changed = green
		untracked = cyan		
[core]
        excludesfile = ~/.gitignore
		attributesfile = ~/.gitattributes
        editor = vim
		eol = lf
	autocrlf = false
	whitespace = fix
[apply]
        whitespace = fix
[merge]

[mergetool]
        keepBackup = false
[rerere]
		#log fixed conflicts
		enabled = true
[help]
        autocorrect = 1
[diff "exif"]
  textconv = exiftool
[github]
	user = thomwiggers
[push]
	default = simple
[url "git@github.com"]
    pushInsteadOf = git://github.com
[url "git@github.com:thomwiggers"]
    pushInsteadOf = "https://github.com/thomwiggers"
[url "git@github.com:thomwiggers/"]
    pushInsteadOf = "git://github.com/thomwiggers/"
[merge]
	tool = meld
[commit]
	gpgsign = on
[gitlab]
	url = http://git.rded.nl
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
